@include media-breakpoint-down(sm)
    .container
        padding-left: px2rem(20)
        padding-right: px2rem(20)
        .row
            margin-left: px2rem(-20)
            margin-right: px2rem(-20)
            > *
                padding-left: px2rem(20)
                padding-right: px2rem(20)
