body
    @include media-breakpoint-up(lg)
        font-size: px2rem(22)

h1, .h1
    font-family: $font-family-serif
    font-style: italic
    font-weight: 100
    @include media-breakpoint-up(md)
        font-size: px2rem(60)
    @include media-breakpoint-up(lg)
        font-size: px2rem(90)
