.event
    margin-bottom: $gutters * 2
    text-decoration: none
    h2
        margin-bottom: 0
    time
        color: $secondary
        display: block
        margin-bottom: $gutters
    div
        margin-bottom: $gutters
    p:last-of-type
        margin-bottom: 0
