.header
    left: 0
    padding-top: 10px
    position: absolute
    right: 0
    top: 10px
    .navbar
        &-toggler
            border: 0
            padding: px2rem(16) px2rem(15)
            margin-right: px2rem(-15)
            margin-top: px2rem(-16)
        &-toggler-icon
            background-image: escape-svg($navbar-toggler-icon-bg)
            display: block
            height: 13px
            width: 18px
    .nav-link
        text-transform: uppercase

    @include media-breakpoint-up(md)
        .navbar
            align-items: flex-start
            &-brand
                margin-left: px2rem(-72)
                margin-top: px2rem(50)
            &-collapse
                justify-content: flex-end
            &-nav
                margin-right: -0.5rem
        .nav-item
            margin-left: $gutters

    @include media-breakpoint-down(sm)
        .navbar-brand
            img
                height: auto
                width: 135px
