.hero
    align-items: flex-end
    background: $gradient
    box-shadow: inset 0 0 0 10px white
    display: flex
    height: 430px
    margin-bottom: $gutters * 3
    h1
        margin-bottom: 0
    @include media-breakpoint-up(md)
        height: 595px
        margin-bottom: $gutters * 5
        h1
            margin-bottom: -1rem
