.number
    @extend h1
    align-items: center
    background: $gradient
    border-radius: 50%
    color: white
    display: flex
    height: px2rem(104)
    justify-content: center
    width: px2rem(104)
    @include media-breakpoint-up(md)
        align-items: flex-end
        height: px2rem(205)
        justify-content: flex-end
        padding-bottom: 2rem
        padding-right: 8rem
        text-align: right
        width: px2rem(205)
