.section
    margin-bottom: $gutters * 3

    @include media-breakpoint-up(md)
        margin-bottom: $gutters * 5
        .number
            margin-left: calc(-#{$col} * 2 + #{$grid-gutter-width} / 2)
            position: absolute
            transform: translateY(-40%)
            z-index: -1
    @include media-breakpoint-up(xl)
        .number
            margin-left: calc(-#{$col} + #{$grid-gutter-width} / 2)

    @include media-breakpoint-down(sm)
        overflow: hidden
        .number
            transform: translateX(-50%)
        &:nth-child(odd)
            .number
                margin-left: auto
                transform: translateX(50%)
