---
layout: default
---

{% assign class_even = "col-md-8 offset-md-4 col-lg-6 offset-lg-5" %}

<div class="row">
  <div class="section {{ class_even }}">
    {{ content }}
  </div>
  {% for section in page.sections %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'even' %}
      {% assign class_col = class_even %}
    {% else %}
      {% assign class_col = "col-md-8 offset-md-1 col-lg-5" %}
    {% endif %}
    <div class="section {{ class_col }}">
      {% if section.image %}
        {% picture default "{{ section.image }}" --img alt="" class="img-fluid" %}
      {% endif %}
      <strong class="number">{{ forloop.index }}</strong>
      <p>{{ section.text }}</p>
    </div>
  {% endfor %}
</div>
