---
layout: default
---

<div class="row">
  <div class="col-md-6 offset-md-5">
    {{ page.text }}
  </div>
  {% for section in page.sections %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'even' %}
      {% assign class_col = "col-md-6 offset-md-5" %}
    {% else %}
      {% assign class_col = "col-md-5 offset-md-1" %}
    {% endif %}
    <div class="{{ class_col }}">
      {% if section.image %}
        {% picture default "{{ section.image }}" alt="" %}
      {% endif %}
      <strong class="number">{{ forloop.index }}</strong>
      <p>{{ section.text }}</p>
    </div>
  {% endfor %}
</div>
