$primary: #000000
$blue: #7EAEFF
$purple: #FCA6E9
$gradient: linear-gradient(135deg, $blue 2.88%, $purple 100%)

$font-family-serif: "Calvino Grande", serif
$font-family-base: "Calvino", serif
$font-size-root: 1rem
$font-size-base: 1.125rem
$line-height-base: 1.545455

$headings-font-weight: 400
$headings-line-height: 1

$h1-font-size: px2rem(40)

$gutters: 1.25rem
$col: 8.33333%
$headings-margin-bottom: $gutters * 2

$nav-link-font-size: 1rem

$navbar-padding-y: 0
$navbar-brand-padding-y: 0
$navbar-brand-margin-end: 0
